<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thmeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<h1>Author list</h1>
<table>
    <tr>
        <th>Id</th>
        <th>first name</th>
        <th>Last name</th>
        <th>book</th>
    </tr>
    <tr th:each="author : ${authors}" >
        <th th:text ="${author.id}">123</th>
        <th th:text ="${author.firstName}">domain driven design</th>
        <th th:text ="${author.lastName}">omega</th>
<!--        <th th:text ="${author.books.title}">tt</th>-->
    </tr>
</table>
</body>
</html>